<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit book</title>
</head>
<body>
    <h1>Welcome, {{user.first_name}}!</h1>

    {% if messages %}
    <ul>
    {% for message in messages %}    
    <li>{{ message }}</li> 
    {% endfor %}
    </ul>
    {% endif %}

    <a href="/main_page">home</a>

    <br><br>

    
    <!-- <h1>title: {{book.title}}</h1> -->
    {% if book.user.id == request.session.user_id %}
        <form action="/edit/{{book.id}}" method="POST">
            {% csrf_token %}
            <input type="text" name="new_title" value="{{book.title}}">
            <p>Added by: {{book.user.first_name}}</p>
            <p>Added on: {{book.created_at}}</p>
            <p>Last updated on: {{book.updated_at}}</p>
            <p>Description:</p>
            <textarea name="new_movie_description" placeholder="{{book.description}}" cols="30" rows="10"></textarea> <br> 
            <input type="submit" value="Update">
        </form>
        <br>
        <form action="/books/delete/{{book.id}}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete {{book.title}}">
        </form>
    {% else %}
        <p>Added by: {{book.user.first_name}} {{book.user.last_name}}</p>
        <p>Added on: {{book.created_at}}</p>
        <p>Last Updated on: {{book.updated_at}}</p>
        <p>Description: {{book.description}}</p>
    {% endif %}


<!--     <h3>{{book.title}}</h3>
    <p>Added by: {{book.creator.first_name}} {{book.creator.last_name}}</p>
    <p>Added on: {{book.created_at}}</p>
    <p>Last Updated on: {{book.updated_at}}</p>
    {% if book.creator.id != request.session.user_id %}
    <p>Description: {{book.description}}</p>
    {% else %}
    <form action="/books/{{book.id}}/update" method="post">
        {% csrf_token %}
        <label for="description">Description</label>
        <input name="description" class="form-control w-50" placeholder="{{book.description}}">
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/books/{{book.id}}/delete" role="button" class="btn btn-danger">Delete</a>
    </form>
    {% endif %}
 -->




<!--     <h2>description: {{book.description}}</h2>
    <h2>Added by: {{book.user.first_name}}</h2> -->

    <h2>users that favorited {{book.title}}</h2>
    <ul>
        {% for fav in book.favbook.all %}
        <li>{{fav.first_name}} {{fav.last_name}}</li>
        {% endfor %}
    </ul>

<!--     <h3>Users Who Favorited the Book</h3>
    <ul>
        {% for fav in book.favorited_by.all %}
        <li>{{fav.first_name}} {{fav.last_name}}</li>
        {% endfor %}
    </ul>
    {% if current_user in book.favorited_by.all %}
    <a href="/unfavorite/{{book.id}}" role="button" class="btn btn-danger">Remove From Favorites</a>
    {% else %}
    <a href="/favorite/{{book.id}}" role="button" class="btn btn-warning">Add to Favorites</a>
    {% endif %} -->


<!--     {% for book in book.user.faved_book.all %}
    <li>{{book.user.first_name}}</li>
    {% endfor %} -->


<!--     {% for user in all_user %}
    <li>{{book.user.first_name}}</li>
    {% endfor %} -->

</body>
</html>