<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Congrats {{user.first_name}}!  You've logged in</h1>

    {% if messages %}
    <ul>
    {% for message in messages %}    
    <li>{{ message }}</li> 
    {% endfor %}
    </ul>
    {% endif %}
    
    <a href="/logout">logout</a>
    <a href="/main_page">home</a>

    <div id="forms">
        <div class="form">
            <h2>Add a book to your digital library:</h2>
            <form action="/add_book" method="POST">
                {% csrf_token %}
                <h5>What's the book's title?</h5>
                <input type="text" placeholder="title" name="title"> 
                <h5>And the book's description?</h5>
                <textarea name="description" placeholder="description" cols="30" rows="10"></textarea> <br>
                <input type="submit" value="Add">
            </form>
        </div>
    </div>

    <h2>All Books</h2>

        {% for book in all_books %}
        <p>
            <ul><a href="/edit_book_page/{{book.id}}">{{book.title}}</a></ul>
            <ul>(added by: {{book.user.first_name}} {{book.user.last_name}})</ul>
            <ul>{% if user not in book.favbook.all %}
                <form action="/books/favorite/{{book.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="add {{book.title}} to favorites">
                </form>
                {% else %}
                <form action="/books/un_fav/{{book.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="unfavorite {{book.title}}">
                </form>
                {% endif %}</ul>
        </p>
        <br>
        {% endfor %}

    
</body>
</html>